{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="padding-top: 200px;">
  <div class="row" >
    <div class="col-md-12">
      <div class="logo padding">

        <p ><b>Life Care is a NABH accredited 950-bed super-speciality hospital located in Kozhikode, India. It is located on Mini Bypass Road, Opp Kovilakam Residency Govindapuram, Kozhikode, Kerala, India. Life Care, an NABH accredited hospital, is established with the aim to offer advanced medical treatment of international standards at affordable rates</b>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="logo padding">
        <div class="testi-meta">
        <h4>7,000+ Healing Hands</h4>
        </div>
        <p>Largest network of the world’s finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="logo padding">
        <div class="testi-meta">
        <h4>Most Advanced Healthcare Technology</h4>
        </div>
        <p> Life Care has been the pioneer in bringing ground-breaking healthcare technologies to India..</p>
      </div>
    </div>
  </div>


<br>
  <div class="row">
    <div class="col-md-6">
      <div class="logo padding">
        <div class="testi-meta">
          <h4>4,000+ Pharmacies</h4>
        </div>
      <p>Life Care is India’s first, largest and most trusted branded pharmacy network, with over 4000 plus outlets covering the entire nation.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="logo padding">
        <div class="testi-meta">
          <h4>Best Clinical Outcomes</h4>
        </div>
      <p> Leveraging its vast medical expertise & technological advantage, Apollo Hospitals has consistently delivered best in class clinical outcomes.</p>
    </div>
  </div>

  </div>
</div>



{%endblock%}