<footer id="footer" class="footer-area wow fadeIn" style="background-color:#0066ff">
         <div class="container" >
            <div class="row">
               <div class="col-md-4">
                  <div class="logo padding">
                     <a href=""><img src="images/logo.png'" alt=""></a>
                     <p style="color:white">Life Care, an NABH accredited hospital, is established with the aim to offer advanced medical treatment of international standards at affordable rates.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="footer-info padding" >
                     <h3>CONTACT US</h3>
                     <p style="color:white"><i class="fa fa-map-marker" aria-hidden="true"></i>Bypass Road, Opp Kovilakam Residency Govindapuram, Kozhikode, Kerala, India.</p>
                     <p style="color:white"><i class="fa fa-paper-plane" aria-hidden="true"></i> info@lifecare.com</p>
                     <p style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> (+91) 999 555 666 7</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="subcriber-info" >
                     <h3>SUBSCRIBE</h3>
                     <p style="color:white">Get healthy news, tip and solutions to your problems from our experts.</p>
                  </div>
               </div>
            </div>
         </div>
</footer>
      <div class="copyright-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="footer-text">
                     <p>© 2021 Lifecare. All Rights Reserved.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="social">
                     <ul class="social-links">
                        <li><i class="fa fa-rss"></i></li>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-google-plus"></i></li>
                        <li><i class="fa fa-youtube"></i></li>
                        <li><i class="fa fa-pinterest"></i></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end copyrights -->
<!--      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>-->
      <!-- all js files -->